@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Remove Client</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
    <input type="submit" value="Remove" />
}
@Html.ActionLink("Go Back", "Details", new { id = Model.StylistID })