@{
  Layout = "_Layout";
}

<h2>Welcome back, Claire!</h2>

<div class="button-wrap">
    <a href="/stylists/create"><button class="btn btn-outline-warning" type="click" name="button">Add New Stylist</button></a>
    <a href="/stylists"><button class="btn btn-outline-warning" type="click" name="button">View Stylists</button></a>
</div>