@{
  Layout = "_Layout";
}

<h2>Welcome back, Claire!</h2>

<a href="/stylists/create"><button class="btn" type="click" name="button">Add New Stylist</button></a>
<a href="/stylists"><button class="btn" type="click" name="button">View Stylists</button></a>